<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826156598806-hh2dced4vnl409mi7lna6cb26qcd9ss4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826156598806-hh2dced4vnl409mi7lna6cb26qcd9ss4</string>
	<key>API_KEY</key>
	<string>AIzaSyBRQfWdhsmBjhy-5Ovz81eFaiMuuGAHfWE</string>
	<key>GCM_SENDER_ID</key>
	<string>826156598806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAppFirebase</string>
	<key>PROJECT_ID</key>
	<string>learning-env-66ece</string>
	<key>STORAGE_BUCKET</key>
	<string>learning-env-66ece.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826156598806:ios:c4a7c38dfa2cea26921737</string>
</dict>
</plist>